
/** Google font **/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color:black;
    font-family: 'Shippori Mincho', serif;
    color: white;
    max-width: 90%;
    margin: 0 auto;
}

body#index {
    max-width: 60%;
}

header h1 {
    font-family: 'Akaya Telivigala', cursive;
}

.display {
    background-color:rgba(145, 234, 76, 0.3);
}
    #display1 {
        padding: 10px 30px;
        background-color:tomato;
    }
    #display2 {
        padding: 10px 30px;
        background-color:yellowgreen;
    }

#displayCharacters {
    margin: 15px auto;
}

#panelCommand {
    margin: 15px auto;}

#creatCharacters {
    margin: 15px auto;}

#logPlayers {
    margin: 15px auto;}

label img {
    max-width: 90px;
}