
/** Google font **/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(0,40,97,1) 0%, rgba(190,0,0,1) 100%);
    font-family: 'Shippori Mincho', serif;
    color: white;
    max-width: 90%;
    margin: 0 auto;
}

body#index {
    max-width: 60%;
}

header h1 {
    font-family: 'Akaya Telivigala', cursive;
}


#displayCharacters {
    padding: 20px;
    border-radius:30px;
    background-image: url(images/bgScreenVS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    box-shadow: 0px 0px 10px black;
}
    #displayCharacters h4 {
        font-family: 'Akaya Telivigala', cursive;
    }
    #display1, #display2 {
        padding: 10px 30px;
        border: 1px solid black;
        border-radius:20px;
    }
    #display1 {
        background-color:rgba(205, 45, 25, 0.2);
    }
    #display2 {
        background-color:rgba(25, 135, 205, 0.2);
    }
    .noActif {
        box-shadow: 0px 0px 10px black;
    }
    .actifP1 {
        box-shadow: 0px 0px 20px rgb(255, 72, 72);
    }
    .actifP2 {
        box-shadow: 0px 0px 20px rgb(0, 195, 255);
    }
    button {background-color: transparent;
    }
    .buttonRed, .buttonBlue, .buttonDisable {
      font-family: 'Akaya Telivigala', cursive;
      font-size: 2.5rem;
      padding-bottom: 12px;
      position:relative;
      border:none;
      width: 130px;
      height:72px;
      color:white;
      background-position: center;
      background-repeat: no-repeat;
    }
    .buttonRed {
      background-image:url(button/red.png);
      background-color: none;
    }
    .buttonRed:hover {
      background-image:url(button/redClic.png);
    }
    .buttonBlue {
      background-image:url(button/blue.png);
    }
    .buttonBlue:hover {
      background-image:url(button/blueClic.png);
    }
    .buttonDisable {
        color:rgb(145, 145, 145);
      background-image:url(button/disable.png);
    }
    .btn-inline {
        background-color: none;
    }

#displayCharacters {
    margin: 15px auto;
}

#panelCommand {
    margin: 15px auto;}

#creatCharacters {
    margin: 15px auto;}

#logPlayers {
    margin: 15px auto;}

label img {
    max-width: 90px;
}