
/** Google font **/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* 
canvas{
    height: 300px !important;
    width: 800px !important;
    display: inline;
} */

body {
    background-image: url(images/bg.jpg);
    /* background: #01345D;
    background: -webkit-linear-gradient(top, #E22011, #01345D);
    background: -moz-linear-gradient(top, #E22011, #01345D);
    background: linear-gradient(to bottom, #E22011, #01345D); */
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

body#index {
    max-width: 60%;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
}


#displayCharacters {
    padding: 20px;
    border-radius:30px;
    background-image: url(images/bgScreenVS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    box-shadow: 0px 0px 10px black;
    border: 2px solid black;
}
    #displayCharacters h4 {
        font-family: 'Luckiest Guy', cursive;
    }
    #display1, #display2 {
        padding: 10px 30px;
        border: 2px solid black;
        border-radius:20px;
    }
    #display1 {
        background-color:rgba(205, 45, 25, 0.2);
    }
    .winnerP1 {
        background: url(images/winnerP1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }
    #display2 {
        background-color:rgba(25, 135, 205, 0.2);
    }
    .winnerP2 {
        background: url(images/winnerP2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }
    .noActif {
        box-shadow: 0px 0px 10px black;
    }
    .actifP1 {
        box-shadow: 0px 0px 20px rgb(255, 72, 72);
    }
    .actifP2 {
        box-shadow: 0px 0px 20px rgb(0, 195, 255);
    }
    button {background-color: transparent;
    }
    .buttonRed, .buttonBlue, .buttonDisable, .buttonGreen {
      font-family: 'Luckiest Guy', cursive;
      font-size: 2rem;
      padding-bottom: 2px;
      position:relative;
      border:none;
      width: 130px;
      height:72px;
      color:white;
      background-position: center;
      background-repeat: no-repeat;
    }
    .buttonRed {
      background-image:url(button/red.png);
    }
    .buttonRed:hover {
        color:rgb(255, 151, 151);
        border-radius: 18px;
        background-color: transparent;
        box-shadow: 0px 0px 20px rgb(255, 72, 72);
      /* background-image:url(button/redClic.png); */
    }
    .buttonBlue {
      background-image:url(button/blue.png);
    }
    .buttonBlue:hover {
        color:rgb(0, 238, 255);
        border-radius: 18px;
        background-color: transparent;
        box-shadow: 0px 0px 20px rgb(72, 167, 255);
      /* background-image:url(button/blueClic.png); */
    }
    .buttonDisable {
        color:rgb(145, 145, 145);
      background-image:url(button/disable.png);
    }
    .buttonGreen {
      background-image:url(button/green.png);
    }
    .buttonGreen:hover {
        color:rgb(231, 255, 11);
        border-radius: 18px;
        background-color: transparent;
        box-shadow: 0px 0px 20px rgb(45, 250, 4);
      /* background-image:url(button/greenClic.png); */
    }
    /* .buttonRed:hover, .buttonBlue:hover, .buttonDisable:hover, .buttonGreen:hover {
      padding-bottom: 6px;
    } */
    .btn-inline {
        background-color: none;
    }

#displayCharacters {
    margin: 15px auto;
}

#panelCommand {
    margin: 15px auto;}

#creatCharacters {
    margin: 15px auto;}

#logPlayers {
    margin: 15px auto;
}
#logPlayers #journal {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px 30px;
    margin: auto;
    border: 2px solid black;
    border-radius:20px;
    background-image:url(images/bgJournalLogs.jpg);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px black;
    min-width:350px;
    max-width:600px;
    min-height: 99px;
    max-height: 100px;
    overflow-y:initial;
}

label img {
    max-width: 75px;
}

iframe{
    width:100%;
    margin:0;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    border-width: 0;
}

@media only screen and (max-width: 650px) {
    #displayCharacters {
        background-image: url(images/bgScreenSmartVS.jpg);
    }
    #display1 {
        margin-bottom: 35px;
    }
    #display2 {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1080px) {
    .buttonRed, .buttonBlue, .buttonDisable, .buttonGreen {
      font-size: 1.2rem;
      padding-bottom: 2px;
      width: 100px;
      height:55px;
    }
    .buttonRed {
      background-image:url(button/redSmart.png);
    }
    .buttonBlue {
      background-image:url(button/blueSmart.png);
    }
    .buttonDisable {
        color:rgb(145, 145, 145);
      background-image:url(button/disableSmart.png);
    }
    .buttonGreen {
      background-image:url(button/greenSmart.png);
    }
  }


